[buildout]
newest = false
use-dependency-links = false

# Default parts to compile
parts =
    mkdirs
    python
    eggs
    gconf_core
    supervisor

develop =
    src/unarea_core


[default-path]
etc = ${buildout:directory}/etc
var = ${buildout:directory}/var
log = ${default-path:var}/log

[python]
recipe = zc.recipe.egg:script
extra-paths =
    ${buildout:directory}/etc

eggs = ${eggs:eggs}
interpreter = python

[eggs]
recipe = zc.recipe.egg:eggs

eggs =
    Flask==0.10.1
    gunicorn
    ${unarea_pkgs:server}

[unarea_pkgs]
server =
    unarea_core

[mkdirs]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    mkdir -p ${buildout:bin-directory}/cli
    mkdir -p ${default-path:var}/run
    mkdir -p ${default-path:var}/lock


#[tests]
#recipe = pbp.recipe.noserunner
#working-directory = ${buildout:directory}/server
#defaults = --with-specplugin unarea_core
#eggs = ${eggs:eggs}
#[nginx-conf]
#recipe = collective.recipe.template
#input = ${buildout:directory}/conf/nginx.conf.in
#output = ${buildout:directory}/etc/nginx.conf
#log_path = ${default-path:log-path}/nginx
#pid_file = ${default-path:var-path}/run/nginx

#[init-gunicorn]
#recipe = collective.recipe.template
#bind = 127.0.0.1
#port = 8000
#workers = 1
#user = rocky
#logfile = ${default-path:log}/gunicorn.log
#pidfile = ${default-path:var}/run/gunicorn.pid
#input = ${buildout:directory}/conf/gunicorn/gunicorn_core.in
#output = ${buildout:directory}/etc/gunicorn,

[gconf_core]
recipe = collective.recipe.template
extra-paths = ${buildout:directory}/etc
input = ${buildout:directory}/conf/gunicorn/gunicorn_core.in
output = ${buildout:directory}/etc/gunicorn/gunicorn_core.conf
command = ${buildout:bin-directory}/gunicorn [unarea_core.run -c ${gconf_core:output}]


[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
serverurl = http://127.0.0.1:9001
logfile = ${default-path:log}/supervisord.log
pidfile = ${default-path:var}/run/sv.pid
programs =
    10 unarea_core ${gconf_core:command}
groups =
    10 unarea-server unarea_core